.maindiv{
    color: rgb(0, 0, 0);
    background-color: chartreuse;
    border-radius: 5px;
    padding: 10px;
    margin: 5px;
    border: 2px solid grey;

}
.pdiv{
    text-align: justify;
    background: rgb(242, 249, 250);
    border-radius: 5px;
    padding: 10px;
    border: 2px solid black;
}